.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.chat-toggle {
  background-color: rgb(5, 32, 2);
  color: white;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  box-shadow: 0 0 10px rgb(5, 32, 2);
}

.chat-box {
  background: rgb(5, 32, 2);
  width: 400px;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 1rem;
}

.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.bot-msg {
  background: rgb(169, 197, 165);
  padding: 0.5rem;
  border-radius: 8px;
  margin: 5px 0;
  text-align: left;
  font-weight: 500;
}

.user-msg {
  background: #dcedc8;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 8px;
  margin: 5px 0;
  text-align: right;
}

.chat-input {
  display: flex;
  gap: 0.5rem;
}

.chat-input input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #b4b2b2;
  border-radius: 6px;
}

.chat-input button {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
}
